<nav class="navbar navbar-expand-lg navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- day 4 -->
            <li class="nav-item">
              <a class="nav-link " routerLink="/home" routerLinkActive="text-primary">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/products" routerLinkActive="text-primary">products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/aboutus" routerLinkActive="text-primary">about us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contactus" routerLinkActive="text-primary">contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/user/view" routerLinkActive="text-primary">view Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/user/edit" routerLinkActive="text-primary">edit Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/user/login" routerLinkActive="text-primary">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/obs" routerLinkActive="text-primary">observable</a>
            </li>
            <!-- day 1 -->
            <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
          </ul>
          <!-- <form class="d-flex me-4" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
  </div>
  <button type="button" class="btn btn-danger m-2" (click)="toggleLogoDiv()">Buy</button>
  <div *ngIf="showDiv">
    <p class="text-primary m-2"> Thanks for purchasing from our Store {{ClientName}} </p>
  </div>
  <img *ngIf="showLogo" style="height: 50px;width: 100px;"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_nEbD-ZAua6UxLOVTOtBJR0nNN1yv8U9f5A&usqp=CAU" alt="">
  </div>
</nav>
